/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: $base__space-unit;
			left: -999rem;
			z-index: 99999;

			ul {
				left: -999rem;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

//header
.post-type-archive, .tax-product-type, .single-products, .blog, .single-post, .page-template-default{

	.site-header{
		display:flex;
		position: fixed;
		justify-content:space-around;
		width: 90%;
		margin: 0 auto;
		align-items: center;
		border-bottom:1px solid #e1e1e1;
		background-color: hsla(0,0%,100%,.85);

		.site-header-logo{
			img{
					text-decoration:none;
					color: #248a83;
					width: 50px;
					height: 33px;
					margin-left:10rem;		
			}
		}

		nav.main-navigation{
			display:flex;
			justify-content: flex-end;
			padding-top: 1rem;

			div ul{
				li{
					padding: 0 1em;
					a{
						color:#248a83;
						margin-left: 0;
					}
				}
			}
		}

		i{
			color:#248a83;
		}
	}
}

.home, .page-template{

	.site-header{
		display:flex;
		position: fixed;
		justify-content:space-around;
		width: 90%;
		margin: 0 auto;
		align-items: center;
		border-bottom:none;
		a{
				text-decoration:none;
				color:white;
				img{
					width: 70px;
					height: 33px;
					margin-left:10rem;
				}
				
		}
		nav.main-navigation{
			display:flex;
			justify-content: flex-end;
			align-items: center;

			div ul{
				li{
					padding: 0 1em;
				}
			}

			.search-form{
				display: none;

				fieldset{
					border: 0;

					.search-field{
						border: 0;
						background: transparent;
						font-size: 1rem;
						text-transform: uppercase;
						color: #fff;
					}

					::placeholder {
						color: #fff;
					}
				}
			}
		}
		
		i{
			color:white;
		}
	}
}

