/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

.page-template{

  .product-info-container{
    width: 1120px;
    margin-left: auto;
    margin-right: auto;

    h1{
    text-align: center;
    font-size: 2.4rem;
    text-transform: uppercase;
    color: #2f1339;
    font-weight: 400;
    font-family: novecentosans,sans-serif;
    }

    .product-type-block{
      display: flex;
      justify-content: space-between;
      text-align: center;

      .product-type-block-wrapper{
        border: 1px solid #e1e1e1;
        border-top-width: 5px;
        padding: .75rem;
        flex: 0 1 23.5%;

        img{
          width:70px;
          height:70px;
        }

        p{
          font-family: merriweather,serif;
        }

        .btn{
          margin-bottom:1.5rem;

          a{
            background-color: #248a83;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            font-size: .9rem;
            padding: .75rem 1.5rem;
          }
        }
      }

      .product-type-block-wrapper:hover{
        border: 1px solid #d99054;
        border-top-width: 5px;
      }

    }
  }

.inhabitent-journal{
    margin-bottom:4.5rem;
    width: 1120px;
    margin-left: auto;
    margin-right: auto;

    h1{
      text-align: center;
      font-size: 2.4rem;
      font-weight: 400;
      color: #2f1339;
      text-transform: uppercase;
      margin-bottom: 3.5rem;
      font-family: novecentosans,sans-serif;
    }

    .wrapper{
      display: flex;
      justify-content: space-between;

      ul.home-post{
        list-style-type: none;
        border: 1px solid #e1e1e1;
        flex: 0 1 32%;
        position: relative;
        padding-left: 0;
        margin-left: 0;
        max-height: 350px;

          li{
            overflow:hidden;

            img{
              width:100%
           }

            .post-info-wrapper{
              height:120px;

              .entry-meta h2{
              margin-bottom: 0;
              font-size: .75rem;
              padding-left: .75rem;
              }

              .entry-title h2{
                color:#248a83;
                font-size:1.3rem;
                margin-top: 0;
                padding-left: .75rem;
              }

              .black-btn a{
                  border: 1px solid #000;
                  color: #000;
                  background-color:transparent;
                  text-decoration: none;
                  text-transform: uppercase;
                  padding: .75rem 1.5rem;
                  font-size: .7rem;
                  margin-left: .9rem;
              }
            }
          }
        }
      }
    }
  }

  .adventures-container{
    margin-left: auto;
    margin-right: auto;
    width: 1120px;

    h2{
      text-align: center;
      font-size: 2.4rem;
      font-weight: 400;
      color: #2f1339;
      text-transform: uppercase;
      margin-bottom: 3.5rem;
      font-family: novecentosans,sans-serif;
    }

    ul{
      list-style-type: none;
      margin-left: 0;
      margin-bottom: 3.5rem;
      padding-left: 0;
      display: flex;
      height:35rem;

    }

  }//.adventures-container

      .story-wrapper-left {
          height: 100%;
          width: 50%;
          overflow: hidden;
          position: relative;
          flex-basis: 50%;
          background-image: url(../../project-04/images/adventure-photos/canoe-girl.jpg);
          background-size: cover;
          background-repeat: no-repeat;


          .story-info{

            h3{
            position: absolute;

              a{
                color: #fff;
                font-size: 3rem;
                font-weight: 400;
                width: 75%;
                text-decoration: none;
              } 
            }

            .white-btn{
              position: absolute;
              top: 8rem;
              color:#fff;
              border: 1px solid #fff;
              padding: .75rem 1.5rem;
              margin: 2rem;
          }

        } 
      }//.story-wrapper-left

        .story-grid-wrapper{
            display: flex;
            flex-direction: column;
            flex-basis: 50%;
            width: 50%;
            overflow: hidden;

            .story-wrapper-top{
              height: 50%;
              position: relative;
              background-image: url(../../project-04/images/adventure-photos/beach-bonfire.jpg);
              background-size: cover;
              background-repeat: no-repeat;


             .story-info{
                position: absolute;
                top: 0;

                .entry-title a{
                  font-size: 2.4rem;
                  font-weight: 400;
                  width: 75%;
                  color: #fff;
                  text-decoration: none;
                }

                .white-btn {
                  color: #fff;
                  border: 1px solid #fff;
                  padding: .75rem 1.5rem;
                  margin: 2rem;
                }
              }
            }
          }// .story-grid-wrapper

            .story-grid-wrapper-inner{
              height: 50%;
              width: 100%;
              display: flex;

              .story-wrapper-bottom-left{
                width: 50%;
                position: relative;
                background-image: url(../../project-04/images/adventure-photos/mountain-hikers.jpg);
                background-size: cover;
                background-repeat: no-repeat;


                 .story-info{
                    position: absolute;
                    top: 0;

                    .entry-title a{
                      font-size: 1.6rem;
                      font-weight: 400;
                      width: 75%;
                      // margin-left: 2rem;
                      color: #fff;
                      text-decoration: none;
                    }

                    .white-btn {
                      color: #fff;
                      border: 1px solid #fff;
                      padding: .75rem 1.5rem;
                      margin: 2rem;
                    }
                  }
                }


                .story-wrapper-bottom-right{
                width: 50%;
                position: relative;
                background-image: url(../../project-04/images/adventure-photos/night-sky.jpg);
                background-size: cover;
                background-repeat: no-repeat;


                 .story-info{
                    position: absolute;
                    top: 0;

                    .entry-title a{
                      font-size: 1.6rem;
                      font-weight: 400;
                      width: 75%;
                      // margin-left: 2rem;
                      color: #fff;
                      text-decoration: none;
                    }

                    .white-btn {
                      color: #fff;
                      border: 1px solid #fff;
                      padding: .75rem 1.5rem;
                      margin: 2rem;
                    }
                  }
                }
            }// .story-grid-wrapper-inner
    

